<html>

{% load static %}

<head>
	<meta charsef="utf-8">
	<title>Lidi -- Problem {{ problem.id }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />

</head>
<body>
	<div id="header">
		<div id="header-inner">
                        <nav>
                                <ul>
                                        <li><a href="{% url 'home:index' %}">Home</a></li>
                                        <li><a class='current' href="{% url 'problem:index' %}">Problems</a></li>
                                        <li><a href="">Statistics</a></li>
                                        {% if user %}
                                                <li><a href="{% url 'upload:upload' %}">Upload</a></li>
                                                <li><a href="{% url 'login:logout' %}">Logout ({{ user }})</a></li>
                                        {% else %}
                                                <li><a href="{% url 'login:index' %}">Login</a></li>
                                                <li><a href="{% url 'signup:index' %}">Sign Up</a></li>
                                        {% endif %}
                                </ul>
                        </nav>
                </div>

	</div>
	<div id="page">
		<div id="content_problem">
			<div class="problem_name">
				<h2>Problem {{ problem.id }}: {{ problem.name }}</h2>
			</div>
			<div class="problem_desc">
				<p>{{ problem.desc }}</p>
			</div>
		</div>

		{% if user != None %}
			<div id="upload">
				<form enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					{{ form }}
					<input type="submit" value="Submit">
				</form>
			</div>
			{% if grade != -1 %}
				<div id="highest-grade">
					<p>Your highest grade: <b>{{ grade }}</b></p>
				</div>
			{% endif %}
		{% else %}
			<div id="notify-signin">
				Sign in to upload you solution.
			</div>
		{% endif %}
	</div>
</body>
</html>
