<html>

{% load static %}

<head>
	<meta charsef="utf-8">
	<title>Lidi -- Problem {{ problem.id }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
    <link rel="stylesheet" href="{% static 'css/highlight/default.css' %}">
    <script src="{% static 'js/highlight.pack.js' %}"></script>
</head>
<body>
	<div id="header">
        <div id="header-inner">
            <nav>
                <ul>
                    <li id="current"><a href="{% url 'home:index' %}">Home</a></li>
                    <li><a href="{% url 'problem:index' %}">Problems</a></li>
                    <li><a href="{% url 'statistics:index' %}">Statistics</a></li>
                    {% if user != None %}
                        <li><a href="{% url 'upload:upload' %}">Upload</a></li>
                        <li><a href="{% url 'login:logout' %}">Logout ({{ user }})</a></li>
                    {% else %}
                            <li><a href="{% url 'login:index' %}">Login</a></li>
                            <li><a href="{% url 'signup:index' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
	<div id="page">
		<div id="content_problem">
			<div class="problem_name">
				<h2>Problem {{ problem.id }}: {{ problem.name }}</h2>
			</div>
			<div class="problem_desc">
				<p>{{ problem.desc }}</p>
			</div>
		</div>

		{% if user != None %}
			<div id="upload">
				<form enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					{{ form }}
					<div class="g-recaptcha" data-sitekey="6LdXGyQUAAAAAB8JUpnvNLFJv0b36ygtg5Z1OrE3"></div>
					<input type="submit" value="Submit" id="submit_solution">
				</form>
			</div>

            {% if grade != -1 or l_grade != -1 or error != -1 %}
                <div id="submission">
                    <div id="parent_grades">
                        {% if grade != -1 %}
                            <div id="highest_grade" class="div_grade">
                                <p>Your highest grade: <b>{{ grade }}</b></p>
                            </div>
                        {% endif %}
                        {% if l_grade != -1 and error == -1 %}
                            <div class="div_grade last_{{ l_grade }}">
                                <p>You scored: <b>{{ l_grade }}</b></p>
                            </div>
                        {% elif error != -1 %}
                            <div class="div_grade error">
                                <p>Error: {{ error }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if user_category == 1 %}
                        {% if out_time.0 != -1 or out_time.1 != -1 %}
                            <div id="parent_outputs">
                                {% if out_time.0 != -1 %}
                                    <div class="outputs">
                                        <h3>Last out</h3>
                                        <table class="table_outs">
                                            <tr>
                                                <th class="id">#</th>
                                                <th class="time">Time</th>
                                                <th class="outs">Output</th>
                                            </tr>
                                            {% for out in out_time.0 %}
                                                <tr>
                                                    <td class="id">
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td class="time">
                                                        {{ out.1 }}
                                                    </td>
                                                    <td class="outs">
                                                        <pre><code><span class="pre_span">{{ out.0 }}</span></code></pre>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}
                                {% if out_time.1 != -1 %}
                                    <div class="outputs">
                                        <h3>Best out</h3>
                                        <table class="table_outs">
                                            <tr>
                                                <th class="id">#</th>
                                                <th class="time">Time</th>
                                                <th class="outs">Output</th>
                                            </tr>
                                            {% for out in out_time.1 %}
                                                <tr>
                                                    <td class="id">
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td class="time">
                                                        {{ out.1 }}
                                                    </td>
                                                    <td class="outs">
                                                        <pre><code><span class="pre_span">{{ out.0 }}</span></code></pre>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}
                                <div style="clear: both;"></div>
                            </div>
                        {% endif %}
                        {% if out_time.3 != -1 %}
                            <div class="outputs">
                                <h3>Testcases</h3>
                                <table class="table_outs">
                                    <tr>
                                        <th class="id">#</th>
                                        <th class="ins">Testcase</th>
                                        <th class="outs">Solution</th>
                                    </tr>
                                    {% for out in out_time.3 %}
                                        <tr>
                                            <td class="id">
                                                {{ forloop.counter }}
                                            </td>
                                            <td class="ins">
                                                <pre><code><span class="pre_span">{{ out.0 }}</span></code></pre>
                                            </td>
                                            <td class="outs">
                                                <pre><code><span class="pre_span">{{ out.1 }}</span></code></pre>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        {% if out_time.2 != -1 %}
                            <div id="program" class="outputs">
                                <h3>Your last submission</h3>
                                <pre><code><span class="pre_span">{{ out_time.2 }}</span></code></pre>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
		{% else %}
			<div id="notify-signin">
				Sign in to upload your solution.
			</div>
		{% endif %}
	</div>
</body>

<script>hljs.initHighlightingOnLoad();</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
