<html>

{% load static %}

<head>
	<meta charsef="utf-8">
	<title>Lidi -- Problem {{ problem.id }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
</head>
<body>
	<div id="header">
		<div id="header-inner">
            <nav>
                <ul>
                    <li><a href="{% url 'home:index' %}">Home</a></li>
                    <li><a class='current' href="{% url 'problem:index' %}">Problems</a></li>
                    <li><a href="">Statistics</a></li>
                    {% if user %}
                        <li><a href="{% url 'upload:upload' %}">Upload</a></li>
                        <li><a href="{% url 'login:logout' %}">Logout ({{ user }})</a></li>
                    {% else %}
                        <li><a href="{% url 'login:index' %}">Login</a></li>
                        <li><a href="{% url 'signup:index' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
	</div>
	<div id="page">
		<div id="content_problem">
			<div class="problem_name">
				<h2>Problem {{ problem.id }}: {{ problem.name }}</h2>
			</div>
			<div class="problem_desc">
				<p>{{ problem.desc }}</p>
			</div>
		</div>

		{% if user != None %}
			<div id="upload">
				<form enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					{{ form }}
<!--					<div class="g-recaptcha" data-sitekey="6LdXGyQUAAAAAB8JUpnvNLFJv0b36ygtg5Z1OrE3"></div>-->
					<input type="submit" value="Submit">
				</form>
			</div>
			{% if grade != -1 %}
				<div id="highest_grade">
					<p>Your highest grade: <b>{{ grade }}</b></p>
				</div>
			{% endif %}
			{% if l_grade != -1 and error == -1 %}
				<div id="last_grade">
					<p>You scored: <b>{{ l_grade }}</b></p>
				</div>
			{% elif error != -1 %}
				<div id="last_grade">
					<p class="error">Error: {{ error }}</p>
				</div>
			{% endif %}
			{% if out_time.0 != -1 %}
				<div id='last_out'>
					Last out:
					<ul>
					{% for out in out_time.0 %}
						<li>
						    {% for line in out %}
							{{ line }}
						    {% endfor %}
						</li>	
					{% endfor %}
                    </ul>
				</div>
            {% endif %}
            {% if out_time.1 != -1 %}
				<div id='best_out'>
					Best out:
                    <ul>
                    {% for out in out_time.1 %}
                        <li>
                            {% for line in out %}
                                {{ line }}
                            {% endfor %}
                        </li>
                    {% endfor %}
					</ul>
				</div>
            {% endif %}
            {% if out_time.2 != -1 %}
				<div id='program'>
					{{ out_time.2 }}
				</div>
            {% endif %}
            {% if out_time.3.0 != -1 or out_time.3.1 != -1 %}
				<div id='times'>
                    {% if out_time.3.0 != -1 %}
					    <div class="times">
                            Last times:
                            <ul>
                            {% for time in out_time.3.0 %}
                                <li>
                                    {{ time }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if out_time.3.1 != -1 %}
                        <div class="times">
                            Best times:
                            <ul>
                            {% for time in out_time.3.1 %}
                                <li>
                                    {{ time }}
                                </li>
                            {% endfor %}
					        </ul>
                        </div>
					{% endif %}
				</div>
			{% endif %}
		{% else %}
			<div id="notify-signin">
				Sign in to upload your solution.
			</div>
		{% endif %}
	</div>
</body>


<script src='https://www.google.com/recaptcha/api.js'></script>
</html>
