<html>

{% load static %}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial scale=1">
	<title>Lidi -- Problems</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
</head>
<body>
	<div id="header">
		<div id="header-inner">
			<nav>
				<ul>
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li><a class='current' href="{% url 'problem:index' %}">Problems</a></li>
					<li><a href="">Statistics</a></li>
					{% if user %}
						<li><a href="{% url 'upload:upload' %}">Upload</a></li>
						<li><a href="{% url 'login:logout' %}">Logout ({{ user }})</a></li>
					{% else %}
						<li><a href="{% url 'login:index' %}">Login</a></li>
						<li><a href="{% url 'signup:index' %}">Sign Up</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>

	<div id="page">
		<div id="content">
			<div id="pagination">
				<span class="page_control">
					{% if problems.has_previous %}
						<a href="{% url 'problem:index' page=problems.previous_page_number sort_by='id' %}">Previous</a>
					{% else %}
						<a class="disabled">Previous</a>
					{% endif %}

					<span class="current_page">
						<b>{{ problems.number }}</b> / {{ problems.paginator.num_pages }}
					</span>

					{% if problems.has_next %}
						<a href="{% url 'problem:index' page=problems.next_page_number sort_by='id' %}">Next</a>
					{% else %}
						<a class="disabled">Next</a>
					{% endif %}
				</span>
			</div>
		</div>
		<div id="problems">
			<table>
				<tr>
					<th><a href="{% url 'problem:index' page=problems.number sort_by='id' %}">ID</a></th>
					<th><a href="{% url 'problem:index' page=problems.number sort_by='name' %}">Name</a></th>
					<th><a href="{% url 'problem:index' page=problems.number sort_by='difficulty' %}">Difficulty</a></th>
                    {% if user is not None %}
                        <th>Score</th>
                    {% endif %}
				<tr>
				{% for problem in problems %}
				<tr>
                    <td class="id"><a href="{% url 'problem:detail' problem.id %}">{{ problem.id }}</a></th>
					<td class="name"><a href="{% url 'problem:detail' problem.id %}">{{ problem.name }}</a></th>
					<td class="diff"><a href="{% url 'problem:detail' problem.id %}">{{ problem.difficulty }}</a></th>
                    {% if user is not None %}
                        {% if problem.user_grade != -1 %}
                            <td class="diff">{{ problem.user_grade }}</td>  <!-- TODO add different class -->
                        {% else %}
                            <td class="diff"></td>
                        {% endif %}
                    {% endif %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>

	<div id="footer">
	</div>
</body>







</html>
