<html>

{% load static %}

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial scale=1">
        <title>LIDI</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/html.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}" />
</head>
<body>
        <div id="header">
		<div id="header-inner">
			<nav>
		                <ul>
        		                <li id="current"><a href="{% url 'home:index' %}">Home</a></li>
                		        <li><a href="{% url 'problem:index' %}">Problems</a></li>
                        		<li><a href="">Statistics</a></li>
					{% if user != None %}
						<li><a href="{% url 'upload:upload' %}">Upload</a></li>
	        	                        <li><a href="{% url 'login:logout' %}">Logout ({{ user }})</a></li>
        	        	        {% else %}
                	        	        <li><a href="{% url 'login:index' %}">Login</a></li>
                        	        	<li><a href="{% url 'signup:index' %}">Sign Up</a></li>
	                        	{% endif %}
	        	        </ul>
			</nav>
		</div>
        </div>

	<div id="page">
		<div id="content">
			<div id="homepage_text">
				<h1>Welcome to LIDI (Low Income Drunks Inc.)</h1>
				<h3>Who is this page for?</h3>
				<p class="homepage">You want to learn programming? You want to test you skills in a competitive environment? Well, if so, then this place is for YOU!</p>
				<h3>How tough are the tasks?</h3>
				<p class="homepage">The tasks are collected from different competitions around the world. You can find easy ones and you can find harder ones. And expect to be a lot of problems which will not let you sleep until you solve them. There will also be a beginner section where you can tackle the problems that do not require much programming skill and will take you from the essentials to mediocre programmer.</p>
				<h3>How does this site work?</h3>
				<p class="homepage">First you have to register, preferably not with Facebook or Google. Then you can start solving problems. There are two environments available, one called <b>Apprentice</b> and the other <b>Jedi</b>. The first one, Apprentice, let's you take a look at your outputs and it returns more verbose error reports. It is therefore more beginner friendly. The other, Jedi, is completely contest oriented, you cannot see your program's outputs, you only see a grade or short error report.
				<h3>Who made it possible?</h3>
				<p class="homepage">Designed by mathematics, written by best programmers, thougth of by idealists... Well that was all me, your favourite man, Campovski. Actually, it was not all me. The problems were submitted by people like you, to who I am very grateful!</p>
			</div>
		</div>
	</div>
</body>
</html>
